body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.archive .post-title a {
    color: #ffffff;
}

.archive .article-author {
    width: 50%;
    float: left;
}

.archive .article-created-date {
    text-align: right;
}

.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-header img {
    display: block;
    width: 318px;
    margin-left: 0px;
    float: left;
}

.article-header a {
    margin-right: 0px;
    padding-right: 0px;
    text-align: right;
    color: #ffffff;
}

.article a {

    color: #ffffff;
}

.article .article-author {
    width: 50%;
    float: left;
}

.article .article-created-date {
    text-align: right;
}