<!DOCTYPE html>
<head>
    <title>Архив всех статей</title>
</head>
<body>
    <div class='header'>
        <img src="{{ STATIC_URL }}img/dpb-logo.png" />
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}
    </div>
</body>