body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*.archive .post-title {
    width: 400px;
}*/

.archive button {
    /*width: 120px;*/
    float: right;
    margin-right: 0px;
}


.archive .post-title a {
    color: #ffffff;
}

.archive .article-author {
    width: 50%;
    float: left;
}

.archive .article-created-date {
    text-align: right;
}





.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-header img {
    display: block;
    width: 318px;
    margin-left: 0px;
    float: left;
}

.article-header a {
    text-align: right;
    float: right;
    color: #ffffff;
}

.article a {
    color: #ffffff;
}

.article .post-title {
    margin-right: auto;
    margin-left: auto;
    /*text-align: center;*/
}

.article .article-author {
    width: 50%;
    float: left;
}

.article .article-created-date {
    text-align: right;
}