<!DOCTYPE html>
<head>
    <title>Article: {{ post.title }}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
</head>
<body class="article">
    <div class='article-header'>
        <img src="{{ STATIC_URL }}img/dpb-logo.png" />
        <a href="/">Все статьи</a>
    </div>
    <div>
        <div class="one-post">
            <h2 class="post-title"><a href="/article/{{ post.id }}">{{ post.title }}</a></h2>
            <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.text }}</p>
        </div>
    </div>
</body>