<!DOCTYPE html>
<html>
    <head>
        <title>Django Public Blog - регистрация</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
    </head>
    <body>
        <div class="content">
            <h1>Регистрация</h1>
            <form method="POST">{% csrf_token %}
                <input type="text" name="username" placeholder="Имя пользователя" value="{{ form.username }}">
                <input type="password" name="password" placeholder="Пароль">
                <input type="password" name="password_confirm" placeholder="Подтверждение пароля">
                <input type="submit" value="Сохранить">
            </form>
            {{ form.errors }}
        </div>
    </body>
</html>