body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

/*.archive .post-title {
    width: 400px;
}*/

.archive button {
    /*width: 120px;*/
    float: right;
    margin-right: 0px;
}


.archive .post-title a {
    color: #ffffff;
}

.archive .article-author {
    width: 50%;
    float: left;
}

.archive .article-created-date {
    text-align: right;
}
.one-post {
    position: relative;
}
.one-post .one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: -1; /* это свойство «отодвигает» элемент на задний план */
    opacity: 0;
   }



.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-header img {
    display: block;
    width: 318px;
    margin-left: 0px;
    float: left;
}


.logo {
    width: 200px !important;
    transition: width 1s;
}

.logo:hover {
    width: 220px !important;
}

.article-header a {
    text-align: right;
    float: right;
    color: #ffffff;
}

.article a {
    color: #ffffff;
}

.article .post-title {
    margin-right: auto;
    margin-left: auto;
    /*text-align: center;*/
}

.article .article-author {
    width: 50%;
    float: left;
}

.article .article-created-date {
    text-align: right;
}