body {
    background:#ffaa11;
    font-family: Tahoma, Arial, sans-serif;
    color: #333;
} 
h1 {
    font-family: sans;
}
table {
    border-collapse: collapse;
    width: 100%;
    /* border: solid 1px black; */
}
img {
    height: 30px;
}
p, h4 {
    font-size: 14px;
    margin-bottom: 0;
}
ul, ol {
    margin: 0
}
table tr td {
    padding: 5px
}