body {
    background: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}
.header img {
    display: block;
    width: 318px;
    margin-left: auto;
    margin-right: auto;
}

.archive {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

/*.archive .post-title {
    width: 400px;
}*/

.archive button {
    /*width: 120px;*/
    float: right;
    margin-right: 0px;
}


.archive .post-title a {
    color: #ffffff;
}

.archive .article-author {
    width: 50%;
    float: left;
}

.archive .article-created-date {
    text-align: right;
}
.one-post {
    position: relative;
}
.one-post .one-post-shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    z-index: -1; /* это свойство «отодвигает» элемент на задний план */
    opacity: 0;
   }



.article {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.article-header img {
    display: block;
    width: 318px;
    margin-left: 0px;
    float: left;
}

.article-header a {
    text-align: right;
    float: right;
    color: #ffffff;
}

.article a {
    color: #ffffff;
}

.article .post-title {
    margin-right: auto;
    margin-left: auto;
    /*text-align: center;*/
}

.article .article-author {
    width: 50%;
    float: left;
}

.article .article-created-date {
    text-align: right;
}

.icons-for-parallax {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 530px;
    position: relative;
}
.icons-for-parallax img {
    /* здесь находятся общие для всех картинок стили */
    position: absolute;
top: 0; }
.icon-for-parallax-first {
    margin-top: 200px;
    z-index: 3; /* эта картинка на переднем плане, у неё больший z-index
*/
}
.icon-for-parallax-second {
    width: 175px; /* уменьшить ширину для картинки, чтобы визуально */
                  /* находилась дальше для пользователя */
    margin-top: 100px; /* эта картинка слегка смещена вправо и вниз */
    margin-left: 80px !important; /* за счет левой и верхней границ */
    z-index: 2;
}
.icon-for-parallax-third{
    width: 150px;
    margin-left: 160px !important;
    z-index: 1; /* эта картинка на заднем плане, у неё меньший z-index */
}

.parallax {
    display: flex;
    flex-direction: row;
    align-items: center;
}