<!DOCTYPE html>

<head>
    <title>Архив всех статей</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/article.css">
</head>

<body class="archive">
    <div class="header">
        <img class="logo" src="{{ STATIC_URL }}img/logo.png" alt="" />
        <div class="parallax">
            <div class="header-text-area">
                <p class="service-title">Коллективный блог</p>
                <a href="/register/" class="register-link">Регистрация</a>
                <a href="/login/" class="register-link">Вход</a>
            </div>
            <div class="icons-for-parallax">
                <img class="icon-for-parallax-first" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
                <img class="icon-for-parallax-second" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
                <img class="icon-for-parallax-third" src="{{ STATIC_URL }}img/article-icon-for-parallax.png">
            </div>
        </div>

    </div>
    <div>
        {% for post in posts %}
        <div class="one-post">
            <div class="one-post-shadow"></div>
            <h2 class="post-title">
                <a href="/article/{{ post.id }}">{{ post.title }}</a>
                <button class="fold-button">Свернуть</button>
            </h2>

            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
                <p class="article-text">{{ post.get_excerpt }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{ STATIC_URL }}js/jquery-3.4.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/fold-post.js"></script>
    <script src="{{ STATIC_URL }}js/highlight-post.js"></script>
    <script src="{{ STATIC_URL }}js/parallax.js"></script>
</body>